/* #region RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion */
body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 100vh;
  width: 375px;
  overflow: scroll;
}
body header {
  background: url(images/photos/image-header.jpg) no-repeat center/cover;
  z-index: 0;
  color: white;
  position: relative;
  height: 538px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body header nav {
  padding: 20px 0 0 20px;
  height: 150px;
  display: inline;
  align-items: center;
  font-size: 1.6rem;
}
body header nav .navbar__element_hide {
  visibility: hidden;
}
body header h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  height: 300px;
  font-size: 2.7rem;
  letter-spacing: 5px;
}
body header .arrow {
  position: absolute;
  font-size: 5.5rem;
  left: 173px;
  top: 294px;
  border-radius: 0px;
}
body section {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
body section .txt {
  color: #24303e;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 436px;
}
body section .txt .learn_more {
  color: #24303e;
  height: auto;
  width: 120px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-decoration: none;
  position: relative;
  flex-direction: column;
  z-index: 1;
}
body section .txt .learn_more .yellow,
body section .txt .learn_more .pink {
  border-radius: 35px;
  overflow: hidden;
  z-index: -1;
  left: 0px;
  top: 4px;
  position: absolute;
  width: 100%;
  border: none;
  color: white;
  height: 8px;
  background-color: #fef2ba;
}
body section .txt span {
  color: #808397;
  padding: 20px 0;
}
body section .txt h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.5rem;
  padding: 10px;
  padding-bottom: 50px;
}
body section .block_text_Transform {
  display: flex;
  flex-direction: column;
}
body section .block_text_Transform .image_oeuf {
  background: url(images/photos/image-transform.jpg) no-repeat center/cover;
  width: 100%;
  height: 312px;
}
body section .block_text_stand {
  display: flex;
  flex-direction: column;
}
body section .block_text_stand .image_verre {
  background: url(images/photos/image-stand-out.jpg) no-repeat center/cover;
  width: 100%;
  height: 312px;
}
body section .design__image_cerise {
  width: 100%;
  background: url(images/photos/image-graphic-design.jpg) no-repeat center/cover;
  height: 600px;
  text-align: center;
  color: #24554a;
}
body section .design__image_cerise h3 {
  margin-top: 390px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 50px;
}
body section .design__image_cerise span {
  height: 75px;
  display: block;
  font-size: 0.85rem;
  font-weight: 900;
  padding: 0 20px;
  letter-spacing: 1px;
  line-height: 25px;
}
body section .image_orange_blue {
  width: 100%;
  background: url(images/photos/image-photography.jpg) no-repeat center/cover;
  height: 600px;
  text-align: center;
  color: #1e5269;
}
body section .image_orange_blue h3 {
  margin-top: 390px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 50px;
}
body section .image_orange_blue span {
  height: 75px;
  display: block;
  font-size: 0.85rem;
  font-weight: 900;
  padding: 0 20px;
  letter-spacing: 1px;
  line-height: 25px;
}
body .temoignage {
  width: 100%;
  height: 1260px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
body .temoignage h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 35px 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #a7aaad;
}
body .temoignage div {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}
body .temoignage div img {
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% px;
  height: 72px;
}
body .temoignage div blockquote {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.1285714358px;
  text-align: center;
  color: #5b636d;
}
body .temoignage div h5 {
  font-family: Fraunces 9pt Soft;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.1285714358px;
  text-align: center;
  color: #24303e;
}
body .temoignage div h6 {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1000000015px;
  text-align: center;
  color: #a7aaad;
  padding-top: 5px;
}
body .temoignage div .name_jobs {
  text-align: center;
}
body footer {
  display: flex;
  flex-flow: column;
  height: 725px;
  width: 375px;
  background-color: #90d4c6;
}
body footer .image_footer {
  display: flex;
  flex-flow: row wrap;
  width: 375px;
  height: 375px;
}
body footer .image_footer div {
  height: 50%;
  width: 50%;
  border: solid 0px black;
}
body footer .image_footer .image_lait {
  background: url(images/photos/image-gallery-milkbottles.jpg) center/cover no-repeat;
}
body footer .image_footer .image_sucre {
  background: url(images/photos/image-gallery-sugarcubes.jpg) center/cover no-repeat;
}
body footer .image_footer .image_cornet {
  background: url(images/photos/image-gallery-cone.jpg) center/cover no-repeat;
}
body footer .image_footer .image_assiette_orange {
  background: url(images/photos/image-gallery-orange.jpg) center/cover no-repeat;
}
body footer .footer_info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #24554a;
  height: 350px;
}
body footer .footer_info .footer_titre {
  width: 170px;
  height: 33px;
}
body footer .footer_info nav {
  display: flex;
  word-spacing: 57px;
  color: #458d7e;
}
body footer .footer_info ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}/*# sourceMappingURL=style.css.map */