<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="layout.css" />
  <title>Layout</title>
</head>

<body>
  <div class="background">
    <div class="cercle_top"></div>
    <div class="cercle_bot"></div>
    <div class="container">
      <div class="block_top"></div>
      <div class="block_mid">
        <span class="info">
          <h3>Josh Harnold</h3>
          32
        </span>
        <span class="Ville">New york</span>
      </div>
      <div class="block_bot">
        <span class="Followers">
          <h3>18M</h3>
          Followers
        </span>
        <span class="Likes">
          <h3>1.3B</h3>
          Likes
        </span>
        <span class="Photos">
          <h3>123K</h3>
          Photos
        </span>
      </div>
      <div class="image"></div>
    </div>
  </div>
</body>

</html>